<div class="m-5 border border-4 p-4">
  <h1 class="py-2">Let's get started</h1>
  <form
    class="row g-3"
    method="POST"
    action="/create"
    enctype="multipart/form-data"
  >
    <!-- -->
    <div class="col-md-6">
      <label for="title" class="form-label"
        >Give a brief title for your item:</label
      >
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="IPhone X 256Gb 1 year used"
      />
    </div>
    <div class="col-md-6">
      <label for="contact" class="form-label">Contact:</label>
      <input type="number" class="form-control" id="contact" name="contact" />
    </div>
    <div class="col-6">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        placeholder="1234 Main St"
        name="address"
      />
    </div>

    <div class="col-md-3">
      <label for="file" class="form-label"
        >Add media for your trade (psst! 4:3 is the best aspect ratio)</label
      >
      <input class="form-control" type="file" id="file" name="file" />
    </div>

    <div class="col-12">
      <label for="description" class="form-label"
        >Give a comprehensive description of your item: e.g. Condition, More
        insight of the item, Your expectation of in-return item etc.</label
      >
      <input
        type="textarea"
        class="form-control"
        id="description"
        placeholder="A 10/10 condition Iphone X"
        name="description"
      />
    </div>

    <div class="col-md-4">
      <label for="city" class="form-label">City</label>
      <select id="city" class="form-select" name="city">
        <option selected>Choose...</option>
        <option>Lahore</option>
        <option>Islamabad</option>
        <option>Karachi</option>
        <option>Sargodha</option>
        <option>Rawalpindi</option>
        <option>Multan</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="category" class="form-label"
        >Choose a relevant category:</label
      >
      <select id="category" class="form-select" name="category">
        <option selected>Choose...</option>
        <option>Electronics</option>
        <option>Automotives</option>
        <option>Furniture and Lifestyle</option>
        <option>Sports and other Equipments</option>
        <option>Fashion and Beauty</option>
      </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="availability"
          name="availability"
        />
        <label class="form-check-label" for="availability">
          Return possible
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark float-end">Proceed</button>
    </div>
  </form>
</div>
