<div class="m-5">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputTitle" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputTitle" />
    </div>
    <div class="col-md-6">
      <label for="inputDescription" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="inputDescription" />
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
      />
    </div>
    <div class="col-md-3">
      <label for="formFileMultiple" class="form-label"
        >Multiple files input example</label
      >
      <input class="form-control" type="file" id="formFileMultiple" multiple />
    </div>
    <div class="col-7">
      <label for="inputDescription" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
      />
    </div>

    <!-- <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity" />
    </div> -->
    <div class="col-md-4">
      <label for="inputCity" class="form-label">City</label>
      <select id="inputCity" class="form-select">
        <option selected>Choose...</option>
        <option>Lahore</option>
        <option>Islamabad</option>
        <option>Karachi</option>
        <option>Sargodha</option>
        <option>Rawalpindi</option>
        <option>Multan</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip" />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Trial Allowed </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
