<div class="border border-dark m-5 rounded">
  <div class="row">
    <div class="col-md-7">
      <p>img will come here</p>
    </div>
    <div class="col-md-5 border border-dark p-2 rounded-top">
      <h2><%=trade.title %></h2>
      <p>Lahore</p>
      <p>Return/Trial:Available</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>Relevant Category: Electronics</h4>
      <h2>Description:</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eos
        obcaecati exercitationem atque eaque deserunt suscipit ut quod
        recusandae omnis, velit quasi error eius perferendis iste reiciendis
        eligendi? Illo, consequuntur. Repellat totam natus doloremque amet
        soluta inventore officiis debitis aliquid!
      </p>
      <h3>Trader's Details</h3>
      <h4>Contact:</h4>
      <p>03030-919982</p>
      <h4>Address:</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam adipisci
        voluptas veritatis rerum? Corporis tempore atque expedita alias hic
        voluptatum quos quasi qui excepturi vero.
      </p>
    </div>
  </div>
</div>
